<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>CCSWC89S2V</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.binnacleai.radiocoach</key>
		<string>radiocoach AppStore</string>
		<key>com.binnacleai.radiocoach.watchkitapp</key>
		<string>radiocoach watchkitapp AppStore</string>
		<key>com.binnacleai.radiocoach.watchkitapp.widget</key>
		<string>radiocoach watch widget AppStore</string>
		<key>com.binnacleai.radiocoach.widget</key>
		<string>radiocoach widget AppStore</string>
	</dict>
</dict>
</plist>
